{% extends "layout.html" %}

{% block title %} Home Page {% endblock %}

{% block content %} 

<h1>Welcome to Home Page</h1>

<table class="table table-bordered text-center align-middle">
    <thead class="table-primary">
        <tr>
            <th scope="col">Event ID</th>
            <th scope="col">Email Subject</th>
            <th scope="col">Email Content</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% if query %}
            {% for data in query %}
                <tr>
                    <th scope="row">{{data.event_id}}</th>
                    <td>{{data.email_subject}}</td>
                    <td>{{data.email_content}}</td>
                    <td>{{data.timestamp}}</td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th scope="row" colspan="5" class="text-center fst-italic">No scheduled email</th>
            </tr>
        {% endif %}
    </tbody>
</table>


{% endblock %}